{% load static %}

<main class="main" id="screenAccountMain" style="display:none">
  <div class="account__container container">
    <h1 class="account__title">Мой аккаунт</h1>
    <div class="account__content">
      <div class="tabs account-tabs" data-tabs="tab">
        <!-- добавлены <span></span> в кнопки -->
        <ul class="tabs__nav account-tabs__nav">
          <li class="tabs__nav-item account-tabs__nav-item">
            <button class="btn-reset tabs__nav-btn account-tabs__nav-btn account-tabs__nav-btn--account"
              type="button"><span></span>Аккаунт</button>
          </li>
          <li class="tabs__nav-item account-tabs__nav-item">
            <button class="btn-reset tabs__nav-btn account-tabs__nav-btn account-tabs__nav-btn--orders"
              type="button"><span></span>Мои заказы</button>
          </li>
          <li class="tabs__nav-item account-tabs__nav-item">
            <button class="btn-reset tabs__nav-btn account-tabs__nav-btn account-tabs__nav-btn--address"
              type="button"><span></span>Мои адреса</button>
          </li>
        </ul>
        <div class="tabs__content account-tabs__content">
          <div class="tabs__panel account-tabs__panel">
            <section class="my-data">
              <div class="my-data__body tabs-section-body">
                <h2 class="visually-hidden my-data__title">Аккаунт</h2>
                <ul class="list-reset my-data__list">
                  <li class="my-data__item">
                    {{account.name}}
                  </li>
                  <li class="my-data__item">
                    <span>Номер телефона</span>
                    {{account.phone}}
                  </li>
                  <li class="my-data__item">
                    <span>Электронная почта</span>
                    {{account.email}}
                  </li>
                  <li class="my-data__item">
                    <span>Мои контрагенты</span>
                    {{account.agents}}
                  </li>
                </ul>
                <div class="my-data__bottom">
                  <button class="btn-reset btn-red btn-red--exit" onclick="location.href='/logout'">Выйти
                    из аккаунта</button>
                </div>
              </div>
              <div class="tabs-section-footer">
                <div class="tabs-section-footer__info">
                  Для изменений данных вашего аккаунта обратитесь к менеджеру
                </div>
                <div class="tabs-section-footer__connection">
                  Александр Иванов / +7921 123 45 67 / а.tobacco@info.ru
                </div>
              </div>
            </section>
          </div>
          <div class="tabs__panel account-tabs__panel">
            <section class="my-orders">
              <h2 class="visually-hidden">Аккаунт</h2>

              <div class="my-orders__body tabs-section-body">
                <div class="my-orders__filtr account-filtr">
                  <h3 class="my-orders__subtitle account-filtr__title">Фильтр</h3>

                  <div class="account-filtr__item account-filtr__calendar calendar">
                    <input type="text" id="input" class="calendar__input datepicker-here calendar"
                      placeholder="Календарь" data-position="right top" autocomplete="off">
                    <img loading="lazy" src="/static/main/img/calendar.svg" class="calendar__icon" width="22"
                      height="22" alt="calendar">
                    <!-- кнопка close -->
                    <img loading="lazy" src="/static/main/img/close-black.svg"
                      class="calendar__icon calendar__icon--close" width="22" height="22" alt="calendar">
                  </div>
                  <div class="dropdown-container" style="margin-right: 2%;">
                    <div class="dropdown-wrap">
                      <input type="text" class="filtr__dropdown select-selected dropdown2" id="plant_type_7"
                        placeholder="Адрес">
                      <span class="dropdown-trigger" aria-hidden="true" data-trigger="plant_type_7">
                        <img loading="lazy" src="{% static 'main/img/arrow-down.svg' %}" class="image" width=""
                          height="" alt="">
                      </span>
                      <div class="select-items dropdown-list2">
                        {% for address in addresses %}
                        <div class="dropdown-option2" v-on:click="FilterAddress({{address.id}})">{{address.address}}
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>

                  <div class="dropdown-container">
                    <div class="dropdown-wrap">
                      <input type="text" class="filtr__dropdown select-selected dropdown3" id="plant_type_8"
                        placeholder="Оплата">
                      <span class="dropdown-trigger" aria-hidden="true" data-trigger="plant_type_8">
                        <img loading="lazy" src="{% static 'main/img/arrow-down.svg' %}" class="image" width=""
                          height="" alt="">
                      </span>
                      <div class="select-items dropdown-list3">
                        <div class="dropdown-option3" v-on:click="FilterPaymentStatus('PAID')">Оплачен</div>
                        <div class="dropdown-option3" v-on:click="FilterPaymentStatus('NOTPAID')">Не оплачен</div>
                        <div class="dropdown-option3" v-on:click="FilterPaymentStatus('PART')">Частично</div>
                      </div>
                    </div>
                  </div>
                </div>
                <table class="my-orders__table table">
                  <thead class="table__thead">
                    <tr class="table__tr">
                      <th class="table__th">Номер заказа</th>
                      <th class="table__th">Дата заказа</th>
                      <th class="table__th">Точка заказа</th>
                      <th class="table__th">Сумма заказа</th>
                      <th class="table__th">Статус оплаты</th>
                      <th class="table__th">Статус заказа</th>
                      <th class="table__th"></th>
                    </tr>
                  </thead>
                  <tbody class="table__tbody">
                    <!-- item -->
                    <tr class="table__tr" v-for="order in orders">
                      <td class="table__td">
                        <div class="my-orders__number">{*order.number*}</div>
                      </td>
                      <td class="table__td">
                        <div class="my-orders__data">
                          {* processingDate(order.time_create)[0] *}
                          <span>{* processingDate(order.time_create)[1] *}</span>
                        </div>
                      </td>
                      <td class="table__td">
                        <div class="my-orders__point">{*order.address.address *}</div>
                      </td>
                      <td class="table__td">
                        <div class="my-orders__sum">{*order.total*} ₽</div>
                      </td>
                      <td class="table__td">
                        <div class="my-orders__pay-state">

                          <button v-if="order.order_status == 'INPROCESSING'"
                            class="btn-reset my-orders__btn my-orders__btn--red">В обработке</button>

                          <button v-else-if="order.order_status == 'SHIPMENT'"
                            class="btn-reset my-orders__btn my-orders__btn--blue">В процессе отгрузки</button>

                          <button v-else-if="order.order_status == 'DELIVERED'"
                            class="btn-reset my-orders__btn my-orders__btn--gray">Доставлен</button>
                        </div>
                      </td>
                      <td class="table__td">
                        <div class="my-orders__order-state">

                          <button v-if="order.payment_status == 'NOTPAID'"
                            class="btn-reset my-orders__btn my-orders__btn--pink">Не оплачен</button>

                          <button v-else-if="order.payment_status == 'PAID'"
                            class="btn-reset my-orders__btn my-orders__btn--green">Оплачен</button>

                          <button v-else-if="order.payment_status == 'PART'"
                            class="btn-reset my-orders__btn my-orders__btn--orange">Частично</button>
                          <span v-if="order.payment_status == 'PART'">Задолжность {* order.debt *} ₽</span>

                        </div>
                      </td>
                      <td class="table__td">
                        <div class="my-orders__hide">
                          <!-- добавлен data атрибут для открытия попапа -->
                          <button class="btn-reset btn-hide"  v-on:click="getOrderInfo(order.id)" data-graph-path="orderInfo"></button>
                        </div>
                      </td>
                    </tr>
                    <!-- item -->
                  </tbody>
                </table>
              </div>
              <div class="my-orders__footer">
                <div class="my-orders__footer-content">Общая задолжность: {{debt}} ₽</div>
              </div>
            </section>
          </div>
          <div class="tabs__panel account-tabs__panel">
            <section class="my-addresses">
              <div class="my-addresses__body tabs-section-body">
                <h2 class="visually-hidden">Мои адресса</h2>
                <ul class="list-reset my-addresses__list">
                  <li class="my-addresses__item">
                    <span>Косарево 7 </span>
                    /  153025, Россия, Иваново  / 
                    <span> Марракеш Ясень</span>
                  </li>
                  <li class="my-addresses__item">
                    <span>Якова Гарелина 2А </span>
                    /  145010, Россия, Иваново  / 
                    <span> Марракеш Ясень</span>
                  </li>
                </ul>
              </div>
              <div class="tabs-section-footer">
                <div class="tabs-section-footer__info">
                  Для изменений данных вашего аккаунта обратитесь к менеджеру
                </div>
                <div class="tabs-section-footer__connection">
                  Александр Иванов / +7921 123 45 67 / а.tobacco@info.ru
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


